[Unit]
Description=Firewall
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/etc/firewall.bash
ExecStop=/sbin/iptables -F
{% if firewall_enable_ipv6 %}
ExecStop=/sbin/ip6tables -F
{% endif %}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
